{% extends 'base.html.twig' %}


{% block title %}{{ annonce.title }}{% endblock %}

{% block body %}

<h1>{{ annonce.title }}</h1>
<p>{{ annonce.description }}<p>


<h3>Les réponses des utilisateurs</h3>
<ul>
{% for comment in comments %}
    <li>{{ comment.content }}</li>
{% endfor %}
</ul>

{#
{% if app.user %}
    {{ form(formResponse, {action: path('response_new')}) }}
{% endif %} 
#}

{% endblock %}
