{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
<link href="https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
<link rel="stylesheet" href="{{ asset('css/' ~ 'style.css') }}"/>
{% endblock %}

{% block body %}
<form method="post" class="ajust-form-pos container">
    {% if error %}
        <div class="alert alert-decoration">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté avec le compte: {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}
    <h1 class="h3 mb-3 font-weight-normal connexion-title">Veuillez vous connecter</h1>
    <div class="center-inputs">
       
        <label for="inputEmail" class="sr-only">E-mail</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control inputs-password-email" placeholder="E-mail" required autofocus>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control inputs-password-email" placeholder="Mot de passe" required>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    <button class="btn btn-lg btn-color-login" type="submit">
        Se connecter
    </button>

    

</form>

<a class="link-password" href="http://127.0.0.1:8001/motdepasseoublie">Mot de passe oublié</a>

<a class="link-button" href="http://127.0.0.1:8001/inscription"><button class="btn btn-lg btn-color-link-signup">S'insrire</button></a>

<a class="link-button" href="http://127.0.0.1:8001"><button class="btn btn-lg btn-color-link-home">Retour à l'accueil</button></a>

{% endblock %}
