{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
<link href="https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
<link rel="stylesheet" href="{{ asset('css/' ~ 'style.css') }}"/>
{% endblock %}

{% block body %}


        <h1 class="h3 mb-3 font-weight-normal connexion-title">Inscription</h1>
{{ form_start(registerForm) }}

<div class="align-form">

        <div class="form-group">
            {#<label for="firstName" class="col-sm-3 control-label">{{ form_label(registerForm.lastname) }}</label>#}
            <div class="col-sm-9">{{ form_widget(registerForm.lastname, {'attr': {'class': 'form-control input-register'}}) }}</div>
        </div>

        <div class="form-group">
            {#<label for="firstName" class="col-sm-3 control-label">{{ form_label(registerForm.firstname) }}</label>#}
            <div class="col-sm-9">{{ form_widget(registerForm.firstname, {'attr': {'class': 'form-control input-register'}}) }}</div>
        </div>

        <div class="form-group">
            {#<label for="firstName" class="col-sm-3 control-label">{{ form_label(registerForm.username) }}</label>#}
            <div class="col-sm-9">{{ form_widget(registerForm.username, {'attr': {'class': 'form-control input-register'}}) }}</div>
        </div>


        <div class="form-group">
            {#<label for="firstName" class="col-sm-3 control-label">{{ form_label(registerForm.email) }}</label>#}
            <div class="col-sm-9">{{ form_widget(registerForm.email, {'attr': {'class': 'form-control input-register'}}) }}</div>
        </div>

        <div class="form-group">
            {#<label for="firstName" class="col-sm-3 control-label">{{ form_label(registerForm.email) }}</label>#}
            <div class="col-sm-9">{{ form_widget(registerForm.password, {'attr': {'class': 'form-control input-register'}}) }}</div>
        </div>
        
</div>



        

            {{ form_row(registerForm.submit, {'attr': {'class': 'btn btn-lg btn-color-register'}}) }}
       
{{ form_end(registerForm) }}



<a class="link-button" href="http://127.0.0.1:8001/connexion"><button class="btn btn-lg btn-color-link-signin">Se connecter</button></a>
<a class="link-button" href="http://127.0.0.1:8001"><button class="btn btn-lg btn-color-link-home-register">Retour à l'accueil</button></a>

{% endblock %}